.collection-page {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 38px;
    margin: 0 auto 30px;
    margin-top: 20px;
  }

  .additionbtn {
    display: flex;
    justify-content: flex-end;
    width: 80px;
  }

  .u-text-2 {
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;

    & .collection-item {
      margin-bottom: 30px;
    }
  }
}
